* {
  transform-style: preserve-3d;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  /* background-color: black; */
  background-color: skyblue;
  margin: 0;

  overflow: hidden;
}

#instructionText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  width: 100%;
  max-width: 900px;
  position: absolute;
  left: 50%;
  top: 40px;
  transform: translateX(-50%);
}

.sceneContainer {
  perspective: 1000px;
  /* perspective-origin: -150px -150px; */
  /* width: 100%;
  height: 100%; */
  width: 500px;
  height: 700px;
}

.scene {
  /* transform-style: preserve-3d; */
  /* transition: transform 1s ease-in-out; */
  transition: transform 0.1s linear;
  width: 100%;
  height: 100%;
}

.cube {
  width: 80px;
  height: 80px;

  /* TODO: remove */
  /* background-color: blue; */

  /* transform-style: preserve-3d; */

  /* transition: transform 3s ease-in-out; */

  /* transform: rotateX(0deg); */

  /* transform: translateY(20deg); */

  position: absolute;
}

/* .cube:nth-of-type(1) {
  bottom: 100px;
} */

.cubes {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.cubes > .cube:nth-of-type(1) {
  transform: translateX(85px) translateZ(-50px) rotateY(-5deg);
}

.cubes > .cube:nth-of-type(2) {
  transform: translateX(-155px) translateZ(-30px) rotateY(-70deg);
}

.cubes > .cube:nth-of-type(3) {
  transform: translateX(-250px) translateZ(100px) rotateY(20deg);
}

.cubes > .cube:nth-of-type(1) > .face {
  background-color: #571a17;
}

.cubes > .cube:nth-of-type(1) > .face::before,
.cubes > .cube:nth-of-type(1) > .face::after,
.cubes > .cube:nth-of-type(1) > .face.top > .bow-end > * {
  background-color: #ffffff !important;
}

.cubes > .cube:nth-of-type(2) > .face {
  background-color: #d53f33;
}

.cubes > .cube:nth-of-type(2) > .face::before,
.cubes > .cube:nth-of-type(2) > .face::after,
.cubes > .cube:nth-of-type(2) > .face.top > .bow-end > * {
  background-color: #297593 !important;
}

.cubes > .cube:nth-of-type(3) > .face {
  background-color: #456aa2;
}

.cubes > .cube:nth-of-type(3) > .face::before,
.cubes > .cube:nth-of-type(3) > .face::after,
.cubes > .cube:nth-of-type(3) > .face.top > .bow-end > * {
  background-color: #e72233 !important;
}

.cube.gift {
  /* transform: translateX(300px); */

  /* bottom: 0; */

  bottom: 100px;
  left: 300px;
}

.cube > .face {
  width: 100%;
  height: 100%;

  position: absolute;

  box-sizing: border-box;

  background-color: red;

  border-width: 1px;
  border-style: solid;
  border-color: rgb(127, 0, 0);

  /* backface-visibility: hidden; */
}

.cube > .face.front {
  transform: rotateX(0deg) translateZ(40px);
}

.cube > .face.back {
  transform: rotateX(-180deg) translateZ(40px);
}

.cube > .face.left {
  transform: rotateY(-90deg) translateZ(40px);
}

.cube > .face.right {
  transform: rotateY(90deg) translateZ(40px);
}

.cube > .face.top {
  /* transform-style: preserve-3d; */
  transform: rotateX(90deg) translateZ(40px);
}

.cube > .face.bottom {
  transform: rotateX(-90deg) translateZ(40px);
}

.cube.gift > .face::after,
.cube.gift > .face.top::before,
.cube.gift > .face.bottom::before {
  content: "";
  background-color: blue;
  position: absolute;
  /* transform: translateX(-50%); */
}

.cube.gift > .face::after {
  height: 100%;
  width: 15px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.cube.gift > .face.top::before,
.cube.gift > .face.bottom::before {
  height: 15px;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.cube > .face.top > .bow-end {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.cube > .face.top > .bow-end:nth-of-type(2) {
  transform: rotateZ(-90deg);
}

.cube > .face.top > .bow-end:nth-of-type(3) {
  transform: rotateZ(-180deg);
}

.cube > .face.top > .bow-end:nth-of-type(4) {
  transform: rotateZ(-270deg);
}

.cube > .face.top > .bow-end > .bow-left-left {
  width: 30px;
  height: 15px;

  position: absolute;

  box-sizing: border-box;

  /* background-color: green; */
  background-color: blue;

  /* border-width: 1px;
  border-style: solid;
  border-color: rgb(127, 0, 0); */

  top: 50%;
  right: 50%;

  transform-origin: center right;
  /* transform: rotateY(25deg) translateX(-50px) translateY(-50%); */
  transform: rotateY(15deg) translateY(-50%);

  z-index: 1;
  /* transform: rotateX(90deg) translateZ(40px); */
}

.cube > .face.top > .bow-end > .bow-left-right {
  width: 28px;
  height: 15px;

  position: absolute;

  box-sizing: border-box;

  /* background-color: green; */
  background-color: blue;

  /* border-width: 1px;
  border-style: solid;
  border-color: rgb(127, 0, 0); */

  top: 50%;
  right: 50%;

  transform-origin: center right;
  /* transform: rotateY(65deg) translateX(-50px) translateY(-50%); */
  transform: rotateY(40deg) translateY(-50%);

  z-index: 1;
  /* transform: rotateX(90deg) translateZ(40px); */
}

.cube > .face.top > .bow-end > .bow-left-top {
  width: 12.7px;
  height: 15px;

  position: absolute;

  box-sizing: border-box;

  /* background-color: green; */
  background-color: blue;

  /* border-width: 1px;
  border-style: solid;
  border-color: rgb(127, 0, 0); */

  top: 50%;
  right: 50%;

  transform-origin: bottom right;
  /* transform: rotateY(65deg) translateX(-50px) translateY(-50%); */
  transform: translateY(-50%) translateX(-28.98px) translateZ(7.76px)
    rotateY(126.66deg);
  /* transform: rotateY(111.34deg) translateY(-50%) translateX(-7.76px) */
  /* translateZ(-28.98px); */

  z-index: 1;
  /* transform: rotateX(90deg) translateZ(40px); */
}

/* start of 2nd cube sizing */

.cube:nth-of-type(2) {
  width: 70px;
  height: 46px;
}

.cube:nth-of-type(2) > .face {
  width: 100%;
  height: 100%;
}

.cube:nth-of-type(2) > .face.left,
.cube:nth-of-type(2) > .face.right {
  width: 46px;
}

.cube:nth-of-type(2) > .face.front {
  transform: rotateX(0deg) translateZ(23px);
}

.cube:nth-of-type(2) > .face.back {
  transform: rotateX(-180deg) translateZ(23px);
}

.cube:nth-of-type(2) > .face.left {
  transform: rotateY(-90deg) translateZ(23px);
}

.cube:nth-of-type(2) > .face.right {
  transform: rotateY(90deg) translateZ(46px);
}

.cube:nth-of-type(2) > .face.top {
  /* transform-style: preserve-3d; */
  transform: rotateX(90deg) translateZ(23px);
}

.cube:nth-of-type(2) > .face.bottom {
  transform: rotateX(-90deg) translateZ(23px);
}

/* end of 2nd cube sizing */

/* start of 3rd cube sizing */

.cube:nth-of-type(3) {
  width: 64px;
  height: 64px;
}

.cube:nth-of-type(3) > .face {
  width: 100%;
  height: 100%;
}

/* .cube:nth-of-type(3) > .face.left,
.cube:nth-of-type(3) > .face.right {
  width: 46px;
} */

.cube:nth-of-type(3) > .face.front {
  transform: rotateX(0deg) translateZ(32px);
}

.cube:nth-of-type(3) > .face.back {
  transform: rotateX(-180deg) translateZ(32px);
}

.cube:nth-of-type(3) > .face.left {
  transform: rotateY(-90deg) translateZ(32px);
}

.cube:nth-of-type(3) > .face.right {
  transform: rotateY(90deg) translateZ(32px);
}

.cube:nth-of-type(3) > .face.top {
  /* transform-style: preserve-3d; */
  transform: rotateX(90deg) translateZ(32px);
}

.cube:nth-of-type(3) > .face.bottom {
  transform: rotateX(-90deg) translateZ(32px);
}

/* end of 3rd cube sizing */

.tree {
  bottom: 100px;
  left: 50%;
  transform: translate(-50%);
  width: 300px;
  height: 500px;
  position: absolute;
  /* transform: translateY(20deg); */
}

.tree > .trunk {
  width: 40px;
  height: 80px;
  left: 50%;
  bottom: 0;
  position: absolute;
  transform: translateX(-50%);
}

.tree > .trunk > .face {
  width: 100%;
  height: 100%;

  position: absolute;

  box-sizing: border-box;

  background-color: rgb(110, 28, 28);

  border-width: 1px;
  border-style: solid;
  border-color: rgb(50, 50, 50);
}

.tree > .trunk > .face.top,
.tree > .trunk > .face.bottom {
  height: 50%;
  transform-origin: center top;
}

.tree > .trunk > .face.front {
  transform: rotateX(0deg) translateZ(20px);
}

.tree > .trunk > .face.back {
  transform: rotateX(-180deg) translateZ(20px);
}

.tree > .trunk > .face.left {
  transform: rotateY(-90deg) translateZ(20px);
}

.tree > .trunk > .face.right {
  transform: rotateY(90deg) translateZ(20px);
}

.tree > .trunk > .face.top {
  transform: rotateX(90deg) translateZ(0px) translateY(-50%);
}

.tree > .trunk > .face.bottom {
  transform: rotateX(-90deg) translateZ(80px) translateY(-50%);
}

.tree > .bottom {
  width: 240px;
  height: 70px;
  /* left: 25px; */
  left: 50%;
  bottom: 80px;
  position: absolute;
  transform: translateX(-50%);
}

.tree > .bottom > .face {
  width: 100%;
  height: 100%;

  position: absolute;

  box-sizing: border-box;

  background-color: green;

  border-width: 1px;
  border-style: solid;
  border-color: darkgreen;
}

.tree > .bottom > .face.top,
.tree > .bottom > .face.bottom {
  height: 240px;
  transform-origin: center top;
}

.tree > .bottom > .face.front {
  transform: rotateX(0deg) translateZ(120px);
}

.tree > .bottom > .face.back {
  transform: rotateX(-180deg) translateZ(120px);
}

.tree > .bottom > .face.left {
  transform: rotateY(-90deg) translateZ(120px);
}

.tree > .bottom > .face.right {
  transform: rotateY(90deg) translateZ(120px);
}

.tree > .bottom > .face.top {
  transform: rotateX(90deg) translateZ(0px) translateY(-50%);
}

.tree > .bottom > .face.bottom {
  transform: rotateX(-90deg) translateZ(70px) translateY(-50%);
}

.tree > .middle {
  width: 180px;
  height: 65px;
  left: 50%;
  /* left: 0; */
  bottom: 150px;
  position: absolute;
  transform: translateX(-50%);
}

.tree > .middle > .face {
  width: 100%;
  height: 100%;

  position: absolute;

  box-sizing: border-box;

  background-color: green;

  border-width: 1px;
  border-style: solid;
  border-color: darkgreen;
}

.tree > .middle > .face.top,
.tree > .middle > .face.bottom {
  height: 180px;
  transform-origin: center top;
}

.tree > .middle > .face.front {
  transform: rotateX(0deg) translateZ(90px);
}

.tree > .middle > .face.back {
  transform: rotateX(-180deg) translateZ(90px);
}

.tree > .middle > .face.left {
  transform: rotateY(-90deg) translateZ(90px);
}

.tree > .middle > .face.right {
  transform: rotateY(90deg) translateZ(90px);
}

.tree > .middle > .face.top {
  transform: rotateX(90deg) translateZ(0px) translateY(-50%);
}

.tree > .middle > .face.bottom {
  transform: rotateX(-90deg) translateZ(65px) translateY(-50%);
}

.tree > .top {
  width: 120px;
  height: 60px;
  left: 50%;
  /* left: 0; */
  bottom: 215px;
  position: absolute;
  transform: translateX(-50%);
}

.tree > .top > .face {
  width: 100%;
  height: 100%;

  position: absolute;

  box-sizing: border-box;

  background-color: green;

  border-width: 1px;
  border-style: solid;
  border-color: darkgreen;
}

.tree > .top > .face.top,
.tree > .top > .face.bottom {
  height: 120px;
  transform-origin: center top;
}

.tree > .top > .face.front {
  transform: rotateX(0deg) translateZ(60px);
}

.tree > .top > .face.back {
  transform: rotateX(-180deg) translateZ(60px);
}

.tree > .top > .face.left {
  transform: rotateY(-90deg) translateZ(60px);
}

.tree > .top > .face.right {
  transform: rotateY(90deg) translateZ(60px);
}

.tree > .top > .face.top {
  transform: rotateX(90deg) translateZ(0px) translateY(-50%);
}

.tree > .top > .face.bottom {
  transform: rotateX(-90deg) translateZ(63px) translateY(-50%);
}

.tree > .top-2 {
  width: 70px;
  height: 55px;
  left: 50%;
  /* left: 0; */
  bottom: 275px;
  position: absolute;
  transform: translateX(-50%);
}

.tree > .top-2 > .face {
  width: 100%;
  height: 100%;

  position: absolute;

  box-sizing: border-box;

  background-color: green;

  border-width: 1px;
  border-style: solid;
  border-color: darkgreen;
}

.tree > .top-2 > .face.top,
.tree > .top-2 > .face.bottom {
  height: 70px;
  transform-origin: center top;
}

.tree > .top-2 > .face.front {
  transform: rotateX(0deg) translateZ(35px);
}

.tree > .top-2 > .face.back {
  transform: rotateX(-180deg) translateZ(35px);
}

.tree > .top-2 > .face.left {
  transform: rotateY(-90deg) translateZ(35px);
}

.tree > .top-2 > .face.right {
  transform: rotateY(90deg) translateZ(35px);
}

.tree > .top-2 > .face.top {
  transform: rotateX(90deg) translateZ(0px) translateY(-50%);
}

.tree > .top-2 > .face.middle {
  transform: rotateX(-90deg) translateZ(80px) translateY(-50%);
}
